# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# PyCharm project files
.idea/

# Environment variables
.env

# Flask cache and logs
instance/
*.log

# VSCode settings
.vscode/

# macOS / Linux / Windows system files
.DS_Store
Thumbs.db
